.ProfileCard {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}

.ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages>img {
    width: 6rem;
    /* border-radius: 50%; */
    position: absolute;
    bottom: -12rem;
    clip-path: circle(50%);
}