.ProfileCard {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    padding: 20px;
}

.ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.ProfileImages>img {
    width: 10rem;
    position: absolute;
    bottom: -12rem;
    clip-path: circle(50%);
}